/* Marco Pietschmann styles */

body {
    background: #554F4F;
    margin: 50px auto 50px;
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
header,
#main,
footer {
    clear: both;
    display: table;
    width: 100%;
    max-width: 960px;
    margin: auto;
    border: solid #fff;
    box-sizing: border-box;
}
header {
    background: rgb(144, 144, 140);
    padding-bottom: 15px;
    border-bottom: none;
}
#main {
    background: rgba(255, 255, 255, 0.23);
}
footer {
    text-align: center;
    background: #90908C;
    color: #fff;
    font-size: 1.4em;
    border-top: none;
}
footer a{
    color: #fff;
    font-size: 1.7em;
}
footer a:hover{
    color: #E5B200;
    font-size: 1.7em;
}
.wrap {
    padding: 15px;
}

header .wrap {
    padding-bottom: 0;
}
div#logo div{
    height: 100%;
    width: 100%;
    background-color: ;
    background-image:
    linear-gradient(
      to right, 
     #ED5B4E ,#DFA70C
    );
    border: solid #fff;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 0;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.37);
    padding-top: 30px;
}
#logo:hover div {
    -ms-transform: rotate(-7deg) scale(1.2); /* IE 9 */
    -webkit-transform: rotate(-7deg) scale(1.2); /* Chrome, Safari, Opera */
    transform: rotate(-7deg) scale(1.2);
    font-size:25px;
    font-weight:bold;
}
#navigation_toggle {
    display: none;
    color: #fff;      font-size: 2em;      text-transform: uppercase;
}
#navigation {
    margin: 0px 15px;
    padding: 36px 0px 8px 40px;
}
#navigation li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline;
}
#navigation li a {
    border: solid 3px #F1F0ED;
    padding: 25px 45px;
    line-height: 30px;
    color: #FBFBFB;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #ED5B4E;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.37);
}
#navigation li a.active {
    background: #DFA70C;
}
#navigation li a:hover {
    background: #DA9B00;
}


nav {
    width: 70%;
    background-color: #93BFBF;
    height: 130px;
    float: right;
}



section {
    clear: both;
    display: table;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
section.banner {
    height: 300px;
    background-color: #9FAB93;
    margin-bottom: 1em;
    border: solid #fff;
    box-sizing: border-box;
}

@keyframes slider {
  0%, 100% {
    background-color: yellow;
  }
  50% {
    background-color: #ED5B4E;
  }
}

.banner {
  -webkit-animation: slider 5s infinite;
  -moz-animation:    slider 5s infinite; 
  -o-animation:      slider 5s infinite; 
  animation:         slider 5s infinite; 
}

section.content {
    background-color: #C0CCB5;
    border: solid #fff;     
}

div#blog {
    width: 80%;
    float: left;
    background-image: radial-gradient(       circle at top left,       #93BFBF,       #214545     );
}

article header {
    background-color: #ED5B4E;
    height: 100px;
    margin-bottom: 49px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.37);
}

article {
    padding: 15px 15px 0px;
}

article header {
    border:none
}


@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.7em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:16.7em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff }
}

h1,p span {display:none}

header:hover h1,p:hover span { 
    display:block;
    font-size:150%;
    width:16.7em;
    color:#fff;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid #fff;
    
    -webkit-animation: typing 11s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 11s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    margin: 25px auto;
}




div#blog_sidebar {
    background-color: #2F5454;
    width: 20%;
    float: right;
}

.sidebar {
    height: 50px;
    background-color: #ED5B4E;
    margin: 15px 0 10px 0;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.37);
    font-size: 0;
}

.sidebar.scale:hover {
    transform: scale(1.2);
    font-size:inherit;
    color:#fff;
    text-align:center;
}

div#blog_sidebar div {
    padding: 15px;
}

div#blog_sidebar div {
    padding: 15px;
}

.sidebar:first-child {
    margin-top: 0;
}

.sidebar:last-child {
    margin-bottom: 0;
}

div#logo {
    background-color: #749898;
    height: 130px;
    float: left;
    width: 30%;
    padding: 15px;     box-sizing: border-box;
}

p {
    background: #DFA70C;
    height: 215px;
}

.footer_col {
    width: 25%;
    height: auto;
    float: left;
    background: #93BFBF;
    font-size:0;
}

.footer_col div {
    height: 100px;
    background-image: radial-gradient(       yellow,       #f06d06     );
}

.footer_col div {
    margin: 15px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.37);
}

footer {
    padding-bottom: 15px;
}

.footer_col:nth-child(odd):hover {
    -ms-transform: rotate(-7deg) scale(1.2); /* IE 9 */
    -webkit-transform: rotate(-7deg) scale(1.2); /* Chrome, Safari, Opera */
    transform: rotate(-7deg) scale(1.2);
    font-size:25px;
    font-weight:bold;
}

.footer_col:nth-child(even):hover {
    -ms-transform: rotate(7deg) scale(1.2); /* IE 9 */
    -webkit-transform: rotate(7deg) scale(1.2); /* Chrome, Safari, Opera */
    transform: rotate(7deg) scale(1.2);
    font-size:25px;
    font-weight:bold;
}

/* Responsive view Tablet 640 px */

.six_40 nav {
        width: 50%;
        float: right;
    }
.six_40 #navigation {
        margin: 0;
        padding: 0;
    }
 .six_40 #navigation li {
        width: 50%;
        margin: 0;
        min-width: 50%;
        display: inline;
        float: left;
    }
 .six_40 #navigation li a {
        text-align: center;
        display: block;
        margin: 0 5px 5px;
        padding: 0;
    }
.six_40 div#logo {
        float: left;
    }
.six_40  #main .col_33 {
        margin: auto;
        width: 50%;
        max-width: 800px;
    }
	
/* Responsive view Phone 480 px */

.four_80   #navigation_toggle {
        display: inline;
        float: right;
    
        margin-top: -71px;
}
.four_80  nav {
        width: 100%;
        float: none;
        clear: both;
    }
.four_80  #navigation {
        display: none;
    }
.four_80  #main .col_33 {
        margin: auto;
        width: 100%;
        max-width: 310px;
        float: none;
    }
.four_80  #main .col_50 {
        margin: auto;
        width: 100%;
        float: none;
    }
.four_80   #navigation li {
        width: 100%;
        display: block;
    }
.four_80   #navigation li a {
        display: block;
        text-align: center;
    }

/* Responsive styles */

@media only screen and (max-width: 758px) {
	#navigation li a {
		border: solid 3px #F1F0ED;
		padding: 25px 30px;
	}
}
@media only screen and (max-width: 640px) {
	article span, article h1 {
		display:none!important;
	}
    div#logo {
        background-color: #749898;
        height: 141px;
    }
    nav {
        float: right;
        padding-top: 10px;
    }
    #navigation {
        margin: 0;
        padding: 0;
    }
    #navigation li {
        width: 50%;
        margin: 0;
        min-width: 50%;
        display: inline;
        float: left;
    }
    #navigation li a {
        text-align: center;
        display: block;
        margin: 0 5px 5px;
    }
    div#logo {
        float: left;
    }
    #main .col_33 {
        margin: auto;
        width: 50%;
        max-width: 310px;
    }
    .footer_col {
    width: 50%;
    }
}
@media only screen and (max-width: 480px) {
	
	#logo:hover div {
		font-size:15px;
	}
    #navigation_toggle {
        display: inline;
        float: right;
    }
    nav #navigation li {
    display: block;     width: 100%;
    }
    nav:hover #navigation li {
        display: block;
        width:100%
    }
    nav #navigation {
        margin-top: 50px;
    }
    #main .col_33 {
        margin: auto;
        width: 100%;
        max-width: 310px;
        float: none;
    }
    #main .col_50 {
        margin: auto;
        width: 100%;
        float: none;
    }
    div#blog,div#blog_sidebar,.footer_col {
       width: 100%;
       float: none;
       padding: 2px;
    }
    #navigation li a {
        display: block;
        text-align: center;
    
        padding: 0;
    }
    nav:hover #navigation li a {

        padding: 25px;

    }
    article {
       padding-bottom: 1px;
       margin-bottom: 1em;
    }
}